@using ConcreteContentTypes.Core.Extensions
@using UmbracoNS = Umbraco
@using Umbraco.Examine.Linq.Extensions

@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    Layout = "Master.cshtml";

    var searcher = new Searcher();

    var CurrentPage = (Umbraco.Core.Models.IPublishedContent)base.CurrentPage;

    var results = new Umbraco.Examine.Linq.Index<Umbraco.Examine.Linq.Sandbox.Models.Content.BlogPost>(searcher, new Umbraco.Examine.Linq.Sandbox.Mapper.ConcreteMapper<Umbraco.Examine.Linq.Sandbox.Models.Content.BlogPost>())
                    .Where(c => c.Name.Contains("tall").Fuzzy(0.5) || c.Name.Contains("f*").Boost(10));
    results = results.Where(c => c.CreateDate > DateTime.Now.AddYears(-2) && c.CreateDate < DateTime.Now);

    results = results.ToList().AsQueryable();


}

@functions {
    public class Searcher : Umbraco.Examine.Linq.ISearcher
    {
        public string Query { get; set; }

        public IEnumerable<Examine.SearchResult> Search(string query)
        {
            Query = query;
            try
            {
                return new Umbraco.Examine.Linq.SearchProviders.LuceneSearch("ExternalSearcher").Search(query);
                }
            catch (Exception)
            {
                Query = "invalid : " + query;
            }

            return new List<Examine.SearchResult>();
        }
    }
}

<div role="content">

	<section class="light blogarchive equalizer">
		<div class="container">
            <div class="row">
                <p>@searcher.Query</p>
            </div>
			<div class="row">
				@*foreach (var post in new UmbracoNS.Examine.Linq.Sandbox.Repositories.BlogRepository().GetAllBlogPosts())*@
                @foreach (var post in results)
                {
					<div class="col-sm-6">
						<div class="content equal">
							<a href="@post.Url">
								<div class="date">@post.Author.Name @post.CreateDate.ToLongDateString() @post.CreateDate.ToString("HH:mm:ss")</div>
								<h2>@post.Name @post.Author.Id</h2>		
								<p>@Umbraco.Truncate(post.Introduction, 240, true)</p>
							</a>
						</div>
					</div>
				}
			</div>
		</div>
	</section>

</div>