@using System.Linq;
@using Umbraco.Examine.Linq.Extensions;
@using Umbraco.Examine.Linq.Sandbox.Models;

@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
              
@{
    Layout = "Master.cshtml";
    System.Diagnostics.Stopwatch sw = new System.Diagnostics.Stopwatch();
    sw.Start();
    var results = new Umbraco.Examine.Linq.Index<BlogPost>().Where(c => c.Name.Contains("different", 0.6) || c.Name.Contains("only").Boost(8))
        .Where(c => c.CreatedDate < DateTime.Now && c.CreatedDate > DateTime.Now.AddMonths(-6)).ToList();
    //var results = mm.Where(c => c.Name == "u*").ToList();
    //var date = DateTime.Parse("2015-05-31T02:00:12.0000000");
    
    sw.Stop();
    
    
}
<h1>Processing time: @sw.ElapsedMilliseconds ms</h1>
<ul>
    @foreach(var result in results)
    {
        @*<li>@result.Id @result.Name - @result.NodeTypeAlias - @result.CreatedDate.ToString("o")</li>*@
        <li>@result.Id @result.Name - @result.CreatedDate.ToString("o")</li>
    }
</ul>
@CurrentPage.GetGridHtml("content", "fanoe")